<div class="space-y-4"
     data-controller="products--gallery products--gallery-thumbnails products--gallery-modal">
  <!-- Main Image Area with Overlaid Thumbnails -->
  <div class="relative">
    <div class="relative aspect-[4/3] bg-gray-50 overflow-hidden shadow-sm">
      <img src="<%= main_image.url(:large) %>"
           alt="<%= main_image.safe_alt %>"
           width="800"
           height="600"
           class="w-full h-full object-cover transition-opacity duration-200"
           data-products--gallery-target="mainImage">
      <!-- Left Click Zone for Previous Image -->
      <% if thumbnail_images.size > 1 %>
        <div class="gallery-click-zone gallery-click-zone--left"
             style="cursor: url('<%= cursor_data_url(:cursor_left) %>') 16 16, pointer;"
             data-action="click->products--gallery#previousImage">
        </div>
      <% end %>
      <!-- Right Click Zone for Next Image -->
      <% if thumbnail_images.size > 1 %>
        <div class="gallery-click-zone gallery-click-zone--right"
             style="cursor: url('<%= cursor_data_url(:cursor_right) %>') 16 16, pointer;"
             data-action="click->products--gallery#nextImage">
        </div>
      <% end %>
      <!-- Center Click Zone for Zoom -->
      <div class="gallery-click-zone gallery-click-zone--center"
           style="cursor: url('<%= cursor_data_url(:cursor_zoom) %>') 16 16, pointer;"
           data-action="click->products--gallery#zoomImage">
      </div>
      <!-- Sale Badge -->
      <% if show_discount_badge?(product.default_variant) %>
        <div class="absolute top-4 left-4 z-20">
          <span class="inline-flex items-center py-1 text-sm font-medium bg-pink-600 text-white">
            <%= discount_badge_text(product.default_variant) %>
          </span>
        </div>
      <% end %>
    </div>
    <!-- Overlaid Thumbnail Stack -->
    <% if thumbnail_images.size > 1 %>
      <!-- Desktop: Vertical thumbnail overlay -->
      <div class="hidden lg:block absolute left-4 top-1/2 -translate-y-1/2 z-30">
        <%= render "products/thumbnail_list",
            images: thumbnail_images,
            context: :desktop,
            product: product,
            component: self,
            show_arrows: responsive_thumbnail_config[:show_arrows],
            container_height: thumbnail_container_height %>
      </div>
      <!-- Mobile: Horizontal thumbnails below -->
      <div class="lg:hidden mt-4">
        <%= render "products/thumbnail_list",
            images: thumbnail_images,
            context: :mobile,
            product: product,
            component: self %>
      </div>
    <% end %>
    <!-- Image Counter -->
    <% if gallery_images.size > 1 %>
      <div class="flex justify-center mt-4 lg:hidden">
        <span class="text-sm text-subtle">
          <span data-products--gallery-target="currentIndex">1</span> / <%= gallery_images.size %>
        </span>
      </div>
    <% end %>
  </div>
  <!-- Gallery Modal Component -->
  <%= render Products::GalleryModalComponent.new(
        product: product,
        gallery_images: gallery_images,
        current_image_index: 0
      ) %>
  <!-- Gallery Data for JavaScript -->
  <script type="application/json" id="product-gallery-data">
    <%= {
      images: gallery_images.map do |image_data|
        {
          url: image_url(image_data.attachment, size: :medium),
          large_url: image_url(image_data.attachment, size: :large),
          thumbnail_url: image_url(image_data.attachment, size: :small),
          alt: image_data.safe_alt
        }
      end
    }.to_json.html_safe %>
  </script>
</div>
