<button class="header-action-button"
        data-action="click->navigation--header#<%= action %>"
        aria-label="<%= aria_label %>"
        type="button">
  <%= render IconComponent.new(name: icon.to_sym, class: "w-5 h-5 text-gray-600 group-hover:text-cyan-600") %>
  <% if has_badge? %>
    <span class="notification-badge"
          aria-label="<%= badge_aria_label %>">
      <%= badge %>
    </span>
  <% end %>
</button>
