<button type="button"
        class="<%= tab_button_classes %>"
        data-products--tabs-target="<%= data_attributes[:products_tabs_target] %>"
        data-action="<%= data_attributes[:action] %>"
        data-products--tabs-index-param="<%= data_attributes[:products_tabs_index_param] %>">
  <%= tab_name %>
</button>
