<%= turbo_stream.append "products-container" do %>
  <%= render ProductCardComponent.with_collection(@products) do |component| %>
    <div data-catalog--product-grid-target="product">
      <%= component %>
    </div>
  <% end %>
<% end %>

<% if @pagy.next %>
  <%= turbo_stream.update "load-more-button" do %>
    <%= render "shared/show_more_button", next_page: @pagy.next %>
  <% end %>
<% else %>
  <%= turbo_stream.remove "load-more-button" %>
<% end %>
