<button class="header-action-button group"
        data-action="click-><%= action_string %>"
        aria-label="<%= aria_label %>"
        type="button">
  <%= render UI::IconComponent.new(name: icon.to_sym, css_class: "w-5 h-5 group-hover:text-interactive") %>
  <% if has_badge? %>
    <span class="notification-badge"
          aria-label="<%= badge_aria_label %>">
      <%= badge %>
    </span>
  <% end %>
</button>
