<div id="<%= address_id %>" class="<%= card_classes %>">
  <%= default_badge %>

  <%= address_label %>

  <p class="text-gray-700 text-sm leading-relaxed">
    <%= address_lines %>
  </p>

  <%= landmarks_display %>
  <%= phone_display %>

  <%= actions_buttons %>
</div>
