<%= turbo_stream.append "products-container" do %>
  <% @products.each do |product| %>
    <div data-product-grid-target="product">
      <%= render ProductCardComponent.new(product: product) %>
    </div>
  <% end %>
<% end %>

<% if @pagy.next %>
  <%= turbo_stream.replace "load-more-button" do %>
    <button class="bg-black text-white px-8 py-3 md:px-12 md:py-4 font-medium uppercase tracking-wide hover:bg-gray-800 transition-colors duration-300"
            data-action="click->product-grid#loadMore"
            data-product-grid-target="loadMoreBtn"
            data-product-grid-next-page-value="<%= @pagy.next %>"
            id="load-more-button">
      Show more
    </button>
  <% end %>
<% else %>
  <%= turbo_stream.remove "load-more-button" %>
<% end %>