<%= turbo_stream.append "products-container" do %>
  <%= render ProductCardComponent.with_collection(@products) do |component| %>
    <div data-product-grid-target="product">
      <%= component %>
    </div>
  <% end %>
<% end %>

<% if @pagy.next %>
  <%= turbo_stream.replace "load-more-button" do %>
    <button class="btn-show-more"
            data-action="click->product-grid#loadMore"
            data-product-grid-target="loadMoreBtn"
            data-product-grid-next-page-value="<%= @pagy.next %>"
            id="load-more-button">
      Show more
    </button>
  <% end %>
<% else %>
  <%= turbo_stream.remove "load-more-button" %>
<% end %>